/* Início do index.html */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #73abfa;
    background-image: url(img/fundo-home.jpeg);
    object-fit: cover;
}

.header {
    height: 100px;
    background-color: #59a2a8;
    /* border-bottom: 3px solid white; */
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 120px;
}

.logo {
    display: flex;
    justify-content: space-around;
    width: 300px;
}

.botao {
    width: 70px;
    height: 70px;
}

.titulo {
    color: #FFFEFE;
}

.navbar { 
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
}

.navbar a {   
    color: #f576d5;
    outline: none;
    font-weight: bolder;
    text-decoration: none;
}

/*.agora {
    font-weight: bolder;
}*/

.navbar .campo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 30px;
    width: 130px;
    border-radius: 10px;
}

/* .capa {
    width: 100%;
    height: 800px;
    background-color: #f576d5;
} */

/* .capa img {
    width: 100%;
    height: 100%;
    display: flex;  
} */

/* .home-titulo {
    display: flex;
    justify-content: center;
}

.home-titulo img{
    width: 500px;
    height: 500px;
}
 */

.footer {
    background-color: #59a2a8;
    height: 200px;
    margin-top: 800px;
}

.footer .gato {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0px 80px;
    width: 30%;
    height: 200px;
}

.footer .gato img {
    height: 120px;
    width: 100px;
}

.footer .redes-sociais {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 10%;
    height: 200px;
    margin-left: 85%;
    margin-top: -200px;
} 

.footer .redes-sociais img {
    height: 50px;
    width: 50px;
    margin: 10px;
}

/* Cores Salvas
#59a2a8; -- verde água
#1b3e96; -- azul marinho
 */