/* Início do index.html */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* background-image: url(assets/img/fundo-home.jpeg); */
    object-fit: cover;
}

.header {
    height: 100px;
    background-color: #59a1a823;
    /* border-bottom: 3px solid white; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 120px;
}

.logo {
    display: flex;
    justify-content: space-around;
    width: 300px;
}

.botao {
    width: 70px;
    height: 70px;
}

.titulo {
    color: #FFFEFE;
}

.navbar { 
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
}

.navbar a {   
    color: #f576d5;
    outline: none;
    font-weight: bolder;
    text-decoration: none;
}

/*.agora {
    font-weight: bolder;
}*/

.navbar .campo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 30px;
    width: 130px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px black;
}

.video-container {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #a0b8aa;
    padding: 10px 100px;
}

.video-container video {
    height: 400px;
}

.bloco1 {
    background-color: #236c99;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    padding: 10px 150px;
}

.bloco1 .texto {
    height: 400px;
    margin-top: 300px;
}

.bloco1 .coraline {
    margin-top: 105px;
    height: 900px;
}

.bloco2 {
    background-color: #eaeaea;
    height: 100vh;
}

.bloco3 {
    background-color: #e8bb77;
    height: 100vh;
}

.bloco4 {
    background-color: #a3cbff;
    height: 100vh;
}

p {
    margin: 0;
}

.carrossel {
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 500px;
    width: 500px;
    background-color: #59a2a8;
}

.carrossel .container {
    display: flex;
    transition: transform 0.5 ease-in-out;
    transform: translateX(0);
}

.carrossel .container img{
    object-fit: cover;
    height: 500px;
    width: 500px;
}


/* .home-titulo {
    display: flex;
    justify-content: center;
}

.home-titulo img{
    width: 500px;
    height: 500px;
}
 */

.enredo {
    width: 100%;
}

.bloco {
/*     background-color: rebeccapurple; */
    height: 400px;
    display: flex;
    margin-top: 100px;
    align-items: center;
    padding: 10px 100px;
    justify-content: space-around;
}

.bloco .imagem-home {
    border-radius: 30px;
    height: 90%;
    width: 35%;
}

.bloco .paragrafo {
    background-color: #59a2a8;
    border-radius: 30px;
    height: 90%;
    width: 35%;
    opacity: 0.8;
}

.bloco .paragrafo p {
    color: white;
    padding: 50px 50px;
    font-size: 30px;
    text-align: center;
}

.sobre-mim {
    background-color: #fab4df;
    height: 100vh;
    display: flex;
    padding: 10px 100px;
    align-items: center;
    justify-content: space-around;
}

.foto-sobre-mim {
    height: 600px;
    width: 600px;
    border-radius: 50%;
    border: 5px solid black;
    object-fit: cover;
}

.footer {
    background-color: #59a2a8;
    height: 200px;
}

.footer .gato {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0px 80px;
    width: 30%;
    height: 200px;
}

.footer .gato img {
    height: 120px;
    width: 100px;
}

.footer .redes-sociais {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 10%;
    height: 200px;
    margin-left: 85%;
    margin-top: -200px;
} 

.footer .redes-sociais img {
    height: 50px;
    width: 50px;
    margin: 10px;
}

/* Cores Salvas
#59a2a8; -- verde água
#1b3e96; -- azul marinho
#f576d5; -- rosa médio
 */

 /* Aqui acaba o index.html */
 /* ------------------------------------------------------------------------------------------------------------------------------------------- */

 /* Aqui começa o login.html */

 .login {
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .container-login {
    background-color: black;
    height: 700px;
    width: 65%;
    border-radius: 50px;
 }