/* Não usar pure white or pure black: https://uxplanet.org/basicdesign-never-use-pure-black-in-typography-36138a3327a6 */
/* The 4-point grid system: https://medium.com/@sainzkike/controlling-spacing-in-design-systems-multiple-spacing-9bf1afec87f */

:root {
    --primary-brand-color: #ED145B;
    --secondary-brand-color: #0762C8;
    --success: #198754;
    --success-dark: #095c36;
    --success-light: #9dd3ba;
    --warning: #ffc107;
    --warning-dark: #705400;
    --warning-light: #fdebb3;
    --danger: #dc3545;
    --danger-dark: #990c19;
    --danger-light: #f0c1c6;
    --new-gray: #CCCCCC;
    --new-black: #212427;
    --new-white: #E8E8E8;
}

body {
    color: var(--new-black);
    background-color: var(--secondary-brand-color);
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    display: flex;
    justify-content: center;
}

.jogo {
    width: 70vh;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-family: monospace;
    font-weight: bold;
}

.flex-colunar {
    display: flex;
    flex-direction: column;
}

.width-fit-content {
    width: fit-content;
}

.border-primary {
    border: 3px solid var(--primary-brand-color);
}

.border-secondary {
    border: 3px solid var(--new-black);
}

.padding-8 {
    padding: 8px;
}

.text-bold {
    font-weight: bold;
}

.text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success-light);
}

.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}

.text-new-gray {
    color: var(--new-gray);
}

.header-outro-mundo {
    height: 100px;
    background-color: transparent;
    /* border-bottom: 3px solid white; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.header-outro-mundo .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 120px;
}

.logo {
    display: flex;
    justify-content: space-around;
    width: 300px;
    align-items: center;
/*     background-color: #095c36; */
}

.botao {
    width: 60px;
    height: 60px;
}

.titulo {
    color: #FFFEFE;
}

.navbar { 
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
/*     background-color: #990c19; */
}

.navbar a {   
    color: #f576d5;
    outline: none;
    font-weight: bolder;
    text-decoration: none;
}

/*.agora {
    font-weight: bolder;
}*/

.navbar .campo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 30px;
    width: 140px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px black;
}

.chave {
    height: 50px;
    margin-left: 30px;
}
