/* Não usar pure white or pure black: https://uxplanet.org/basicdesign-never-use-pure-black-in-typography-36138a3327a6 */
/* The 4-point grid system: https://medium.com/@sainzkike/controlling-spacing-in-design-systems-multiple-spacing-9bf1afec87f */

/* Define variáveis CSS globais no elemento raiz */

:root {
    --primary-brand-color: #ED145B;
    --secondary-brand-color: #2576d3;
    --success: #198754;
    --success-dark: #095c36;
    --success-light: #9dd3ba;
    --warning: #ffd045;
    --warning-dark: #705400;
    --warning-light: #fdebb3;
    --danger: #dc3545;
    --danger-dark: #990c19;
    --danger-light: #f0c1c6;
    --new-gray: #CCCCCC;
    --new-black: #212427;
    --new-white: #E8E8E8;
}

body {
    color: var(--new-black);
    background-color: var(--secondary-brand-color);
    display: flex;
    justify-content: center;
}

.jogo {
    width: 100vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
}

.iniciar {
    font-family: monospace;
    font-weight: bold;
    background-color: var(--warning);
    width: 15%;
    height: 7%;
    border-radius: 10px;
    border-style: none;
    border: 2px solid black;
    font-size: 15px;
}

button {
    font-family: monospace;
    font-weight: bold;
    background-color: var(--warning);
    width: 30%;
    height: 30%;
    border-radius: 10px;
    border-style: none;
    border: 2px solid black;
    margin-top: 10px;
}

.flex-colunar {
    display: flex;
    flex-direction: column;
}

.width-fit-content {
    width: fit-content;
}

.border-primary {
    border: 3px solid var(--warning);
    background-color: aliceblue;
    width: 50vh;
    margin-bottom: 50px;
}

.border-secondary {
    border: 3px solid var(--warning);
    background-color: aliceblue;
    width: 50vh;
}

.padding-8 {
    padding: 8px;
}

.text-bold {
    font-weight: bold;
}

.text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success-light);
}

.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}

.text-new-gray {
    color: var(--new-gray);
}

.header-outro-mundo {
    height: 100px;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.header-outro-mundo .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 120px;
}

.logo {
    display: flex;
    justify-content: space-around;
    width: 300px;
    align-items: center;
/*     background-color: #095c36; */
}

.botao {
    width: 60px;
    height: 60px;
}

.titulo {
    color: white;
/*     text-shadow: 2px 2px 2px #b791fd; */
}

.navbar { 
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
/*     background-color: #990c19; */
}

.navbar a {   
    color: #FFFEFE;
    outline: none;
    font-weight: bolder;
    text-decoration: none;
}

/*.agora {
    font-weight: bolder;
}*/

.navbar .campo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5a289c;
    height: 30px;
    width: 140px;
    border-radius: 10px;
    box-shadow: 4px 4px 0px #fdf478;
}

.chave {
    height: 50px;
    margin-left: 30px;
}

/* Aqui começa o welcome.html */

.pagina-welcome {
    background-color: #bb295a;
}

.welcome {
    width: 80%;
    height: 70vh;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.welcome h3 {
    height: 20%;
    width: 100%;
    font-size: 60px;
    text-align: center;
    align-items: center;
    color: #fdf478;
}

.welcome video {
    width: 70vh;
   /*  box-shadow: 8px 8px 0px #fdf478; */
    border-radius: 50px;
}

.welcome img {
    width: 200px;
}

.welcome .bem-vindo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 60%;
}

.camundongo {
    z-index: 2;
    bottom: 0%;
    right: 5%;
    position: absolute;
    width: 50px;
}
